*.so
*.mod.scm
*.mod.c
*.import.scm
*.o
*.types
*.link
*.a
libchicken/*.c
distill.*.c
distill.c
matchable.c
srfi-69.c
distill
vendor/*.c
Makefile.dep
artifacts/
plans/
test-plans/
test-artifacts/
tools/setparts
*~
README.tail.md
